.right {
      font-family: Arial, Helvetica, sans-serif;
      width: 25%;
      box-shadow: inset 0px 0px 05px 1px rgb(158, 158, 158);

      border-radius: 15px;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      gap: 20px;
      padding: 20px 50px;
      margin-top: 70px;
      color: #0e2652;
    }
    .right-content1 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .right-content1-1 {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 27px;
    }
    .right-content1-2 {
      font-size: 20px;
    }
    .right-content2 {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .right-content2 label {
      font-size: 18px;
      font-weight: 400;
      margin-top: 10px;
    }
    .right-content2 .input {
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      box-shadow: 0px 0px 04px 0px black;
      background-color: white;
      /* width: 70%; */
      padding: 10px;
    }
    .right-content2 input {
      outline: none;
      font-size: 17px;
      border: none;
      width: 100%;
    }
    .right-content2 a {
      color: #189730;
      text-decoration: none;
      align-self: center;
      margin: 10px;
      font-size: 18px;
      border-bottom: 1px solid #189730;
    }
    .right-content2 .btn {
      background-color: #0e2652;
      border: none;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      color: white;
      margin-top: 10px;
      font-size: 22px;
    }
    .right-content2 .btn:hover {
      background-color: #183770;
    }
    .right-content3 {
      display: flex;
      /* align-items: center; */
      justify-content: center;
    }
    .right-content3 a {
      color: #189730;
      text-decoration: none;
      /* align-self: center; */
      margin: 10px;
      /* margin-top: -10px; */
      font-size: 20px;
      border-bottom: 1px solid #189730;
    }