/* =======================
   BASE HEADER
======================= */
.pink-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 6px 20px rgba(255, 105, 180, 0.15);
  /* height: 100px; */
  border-bottom: 1px solid #ffe0ef;
}

/* =======================
   TOP BAR
======================= */
.pink-topbar {
  background: linear-gradient(90deg, #ff4fa3, #ff7ac3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  position: relative;
}

.pink-topbar p {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.pink-topbar-close {
  position: absolute;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* =======================
   MAIN HEADER
======================= */
.pink-header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  /* height: 70px; */
}

/* LOGO */
.pink-logo img {
  width: 80px;
}

/* NAV */
.pink-nav {
  display: flex;
  gap: 05px;
  align-items: center;
  border: 1px solid black;
  padding: 0px 0px 0px 5px;
  border-radius: 5px;
  border-color: grey;
}
.pink-nav input {
  width: fit-content;
  border: none;
  border-color: grey;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  padding: 05px 02px 05px 05px;
}

/* ACTIONS */
.pink-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* SEARCH */

/* CART */

/* ACCOUNT */
.pink-account-btn {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pink-account-btn img {
  width: 30px;
}

/* DROPDOWN */
.pink-dropdown {
  position: absolute;
  right: 0;
  /* left:10; */
  top: 120px;
  width: 200px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: grid;
  margin: 0px 10px;
  gap: 10px;
  padding: 15px;
}

.pink-dropdown a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
}

/* =======================
   RESPONSIVE DESIGN
======================= */

/* MOBILE */
@media screen and (min-width: 300px) and (max-width: 480px) {
  .pink-topbar p {
    font-size: 12px;
  }
  .pink-header-main {
    justify-content: space-between;
    padding: 5px 0px 0px 0px;
    gap: 10px;
  }
  .pink-logo {
    width: 20%;
  }
  .pink-logo img {
    width: 50px;
  }
  .pink-nav {
    display: flex;
    gap: 05px;
    align-items: center;
    border: 1px solid black;
    padding: 0px 0px 0px 5px;
    border-radius: 5px;
    width: 50%;
    border-color: grey;
  }
  .pink-nav input {
    width: 100%;
    border: none;
    border-color: grey;
    border-radius: 5px;
    outline: none;
    font-size: 12px;
    padding: 05px 02px 05px 05px;
  }
  .pink-nav img {
    width: 15px;
  }
  .pink-account-wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .pink-account-btn {
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .pink-account-btn img {
    width: 25px;
  }
  .pink-actions {
    width: 15%;
  }
  .pink-dropdown {
    right: 0px;
    width: 170px;
    top: 80px;
    padding: 10px 5px;
  }
}

/* SMALL TABLET */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pink-topbar p {
    font-size: 12px;
  }
  .pink-logo img {
    width: 60px;
  }
  .pink-header-main {
    /* flex-direction: column; */
    justify-content: space-around;
    padding: 5px 10px 0px 0px;
    gap: 10px;
  }
  .pink-account-wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
    /* background-color: #ff4fa3; */
  }
  .pink-logo {
    width: 20%;
  }
  .pink-account-btn {
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
  }
  .pink-account-btn img {
    width: 25px;
  }
  .pink-actions {
    width: 10%;
  }
  .pink-dropdown {
    right: 0px;
    width: 170px;
    top: 90px;
    padding: 10px 5px;
  }
}

/* TABLET / SMALL LAPTOP */
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .pink-header-main {
    padding: 10px 25px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .pink-header-main {
    padding: 10px 40px;
  }
}
